@import "tailwindcss";

:root {
  --color-black: #191919;
  --color-black-light: #262626;
  --color-black-light-hover: #313131;
  --color-white: #f3f3f3;
  --color-gray: #dddddd;
  --color-purple: #8a659b;
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

h1,
h3,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
}
